{#
/**
 * @file household.html.twig
 * Default theme implementation to present Household data.
 *
 * This template is used when viewing Household pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_household()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('household') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
