{#
/**
 * @file individual.html.twig
 * Default theme implementation to present Individual data.
 *
 * This template is used when viewing Individual pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_individual()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('individual') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
